@import url('https://fonts.googleapis.com/css2? family= Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700 & family= Montserrat:ital, wght@0,500;0,700;1,500;1,700 & display=trocar');

/* 
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

body, h1, p, h2, h2, div, header {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}


@media screen and (min-width: 310px) {
  .conteudo {
    display: flex;
    flex-direction: column;
    background-color: hsl(30, 38%, 92%);
    padding: 2rem 1rem;
    height: 90vh;
  }
  .conteudo__principal {
    display: flex;
    border-radius: 0 0 10px 10px;
    background-color: hsl(0, 0%, 100%);
    height: auto; 
    padding: 1rem;
    flex-direction: column;
}

  .texto {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 1rem 0 1rem;
  }
  
  .texto__perfume {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1rem;
    font-weight: 500;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
  }

.texto__título {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  padding: 1rem 0;
  justify-content: flex-start;
  font-size: 2.3rem;
}

.texto__preco {
  display: flex;
  padding: 1rem 0;
}

.texto__preco--1 {
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.texto__preco--2 {
  color: hsl(228, 12%, 48%);
  margin-left: 1rem;
  text-decoration: line-through;
}
  .perfume {
    display: flex;
    background: url("../../images/image-product-mobile.jpg") center / cover no-repeat ;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }

  .attribution {
    display: flex;
    justify-content: center;
    height: 3vh;
    background-color: hsl(30, 38%, 92%);
  }

}

@media screen and (min-width: 1080px) {
  .conteudo {
    flex-direction: row;
    justify-content: center;
    padding: 10rem;
    height: 60vh;
  }
  
  .conteudo__principal {
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: 550px;
    height: 600px;
    border-radius: 0 10px 10px 0;
    padding: 0 2rem;
  }

  .texto {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1rem 0;
  }
  
  .texto__perfume {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding-top: 1rem;
    font-weight: 500;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
  }

.texto__título {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  padding: 2rem 0;
  justify-content: flex-start;
  font-size: 2.7rem;
}

.texto__paragrafo {
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.texto__preco {
  display: flex;
  padding: 2rem 0;
}

.texto__preco--1 {
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 3.2rem;
}

.texto__preco--2 {
  color: hsl(228, 12%, 48%);
  margin-left: 1rem;
  font-size: 1rem;
  text-decoration: line-through;
}

  .perfume {
    background: url("../../images/image-product-desktop.jpg") center / cover no-repeat ;
    width: 650px;
    height: 600px;
    border-radius: 10px 0 0 10px;
  }

  .attribution {
    display: flex;
    justify-content: center;
    height: 10vh;
    background-color: hsl(30, 38%, 92%);
  }

}