.texto__carrinho--botao {
    background-color: transparent;
    border-style: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 2%;
  }
  .texto__carrinho:hover {
    background-color:  hsl(157, 73%, 19%);
    cursor: pointer;
  }